<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--SSM的整合顺序 数据库 > 数据源 > dao > service > 事务 > controller > jsp-->
    <!-- 1.读取database.properties文件-->
    <context:property-placeholder location="classpath:database.properties" />

    <!--2.数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${user}" />
        <property name="password" value="${password}" />
    </bean>

    <!--3.SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--MyBatis别名配置-->
        <property name="typeAliasesPackage" value="cn.zed058.smbms.pojo" />
        <!--Mapper文件配置-->
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
        <!--MyBatis的settings配置-->
        <property name="configurationProperties">
            <props>
                <prop key="autoMappingBehavior">FULL</prop>
                <prop key="logImpl">LOG4J</prop>
            </props>
        </property>
    </bean>

    <!--4.DAO-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.zed058.smbms.dao" />
    </bean>

    <!--5.Service的组件扫描-->
    <context:component-scan base-package="cn.zed058.smbms.service" />

    <!--6.配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--7.事务的注解驱动-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>